.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .has-card-footer {
    padding-bottom: 15px;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .card-content-custom {
    margin-bottom: 0px !important;
  }